.card {
  height: 300px;
  width: 500px;
  background: linear-gradient(rgb(250, 191, 137, .81), #F2DCA4);
  border-radius: 25px;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  &__hero-logo {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 200px;
  }

  &__hero-logo-image {
    width: 100%;
    object-fit: cover;
  }
}

.card-content {


  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.card-main {

  display: flex;


  &__avatar {
    position: relative;

  }

  &__avatar-rank {
    transform: rotate(140deg);
    border: 5px solid #b2782f;
    width: 70px;
    height: 70px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(45deg, #D39743, #a0630d);
    color: #553327;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -10px;
    top: -10px;
  }

  &__avatar-image-container {
    width: 180px;
    height: 220px;
    border-radius: 25px;
    overflow: hidden;
  }

  &__avatar-image {
    object-fit: cover;
    width: 100%;
  }
}

.card-content-text {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__first-name {
    border-bottom: 2px solid #323232;
    width: 240px;
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  &__last-name {
    font-size: 1rem;
    margin-bottom: 1rem;

  }

  &__other-info {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  &__label-column {
    margin-right: 2rem;
  }

  &__value-column {
    width: 120px;
  }

  &__value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    background: transparent;
    z-index: 1;
  }
}

.card-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem; // using this for taking good screenshots

  &__download {
    background-color: #323232;
    color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    outline: none;
  }

  &__get-short-url {
    background-color: #0a3b66;
    color: #ffffff;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    outline: none;
  }
}