@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
article,
aside,
footer,
header,
nav,
ul,
button,
input,
textarea,
::placeholder,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Nunito Sans', sans-serif;
  vertical-align: baseline;
}