.main {
  background-color: rgb(190, 0, 0, 0.81);
  display: flex;
  justify-content: center;
  align-items: center;

  &__image-container {
    width: calc(100vw - 100vh);
  }

  &__image {
    width: 100%;
  }
}

.card-form {
  display: flex;
  flex-direction: column;
  width: 400px;

  &__input {
    height: 48px;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
  }

  &__button {
    height: 48px;
    border-radius: 4px;
    background-color: #323232;
    color: #ffffff;
  }
}